* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    align-content: center;
}

:root {
    /*Colors*/
    --Sparkle-Yellow: #FFC800;
    --Carbon: #242424;
    --Spark-White: #e5e7da;
    --hover-spark-white: gba(255, 254, 247, 0.7);
    --White: #FFFEFA;
    /*Fonts*/
    --Desktop_H1: font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: left;
}

body {
    background-color: var(--White);
    margin: auto 0px;
}

main {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 80px;
}


/* H1 */

h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.01em;
    text-align: left;
}


/* Subtitle 1 */

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0.01em;
    color: var(--Carbon);
    text-decoration: none;
}


/* Subtitle 2 */

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    letter-spacing: 0.01em;
    color: var(--Carbon);
}

.h4 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-align: left;
}


/* Body 1 */

.body1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--Carbon);
}


/* Body 2 */

.body2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: var(--Carbon);
}


/* Caption */

h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    color: var(--Carbon);
    letter-spacing: 0.004em;
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: var(--Carbon);
    letter-spacing: 0.004em;
}

.navbar {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 13% 8px 10.5%;
    background-color: var(--White);
    /* height: 44px; */
    align-items: center;
    top: 0;
    /* margin: 0 auto; */
    flex-direction: row;
}

header {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    background-color: #242424;
    /* height: 44px; */
    align-items: center;
    top: 0;
    /* margin: 0 auto; */
    flex-direction: row;
}

.leftnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 0px 0px 0px 130px; */
}

#logoname {
    color: var(--Carbon);
    padding: 0px 0px 0px 4px;
}

li,
a {
    text-decoration: none;
    background-color: transparent;
    list-style: none;
}

.logo {
    cursor: pointer;
    /* display: flex; */
    background-color: transparent;
    margin: 0p;
    /* position: relative; */
    /* left: -50px; */
    width: 28px;
    padding: 4px;
    margin: 0p;
}

.nav_links {
    list-style: none;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    /* margin: 0px 150px 0px 0px; */
    flex-direction: row;
    justify-content: space-between;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 22px;
    text-decoration: none;
    align-items: baseline;
}

.nav_links li a h3 {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
}

.nav_links li a h3:hover {
    opacity: 0.6;
    text-decoration: none;
    background-color: transparent;
}

.presentation {
    position: relative;
    width: 990px;
    height: fit-content;
    /* left: 148px; */
    /* top: 134px; */
    display: flex;
    margin: 100px auto 90px;
    /* padding: 0px; */
    flex-direction: row;
}


/*h1 {
    position: relative;
    height: 34px;
    max-width: 240px;
    left: 0px;
    right: 0px;
    top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}*/

.press {
    position: relative;
    /* left: 0px; */
    /* right: 0px; */
    bottom: 50px;
    max-width: 90%;
    height: 190px;
}

article {
    position: relative;
    width: 47%;
    /* bottom: 20px; */
    height: 100%;
    align-self: center;
    /* height: fit-content; */
}

.title_p {
    display: grid;
    grid-template-columns: (1, 1fr);
    gap: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 86px;
}

.icons {
    padding: 32px;
    width: 32px;
    height: 32px;
    /* width: fit-content; */
}

.social-links {
    list-style-type: none;
    position: relative;
    top: 0;
    right: 16px;
    display: flex;
    color: var(--Carbon);
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
}

.social-links li {
    padding: 8px 16px;
}

.social-links li a .icons {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 2px;
}

.social-links li a .icons:hover {
    opacity: 0.5;
    text-decoration: none;
}

#behance {
    width: 36px;
}

.steph {
    position: relative;
    /* width: 34%; */
    height: 100%;
    left: 150px;
    /* bottom: 260px; */
    align-self: center;
}

#caption1,
caption {
    position: relative;
    /* width: 197px; */
    /* height: 15px; */
    /* left: 0px; */
    /* top: 110px; */
    padding-bottom: 8px;
}

.social {
    position: relative;
    width: 230px;
    height: 58px;
    left: 0px;
    top: 0px;
}

.project {
    position: relative;
    width: 990px;
    height: 390px;
    margin: 0px auto 90px;
    /* left: 0; */
    /* top: 0; */
    display: flex;
    align-items: center;
}

.illustration1 {
    position: relative;
    right: 0;
    width: 100%;
    flex: none;
    align-self: center;
    margin: 0px 0px;
    bottom: 16px;
    left: 0px;
}

.description-title {
    display: grid;
    gap: 0px;
}

.press2 {
    /* flex-direction: column; */
    /* padding: 0px; */
    position: relative;
    width: 345px;
    /* height: 170px; */
    left: 280px;
    bottom: 50px;
    /* right: -130px; */
    max-height: 20%;
}

.button {
    cursor: pointer;
    background: #FFFEF7;
    border: 2px solid #242424;
    border-radius: 40px;
    /* position: absolute; */
    /* width: 184px; */
    /* height: 49px; */
    /* left: 800px; */
    /* top: 270px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}


/*
.button:hover {
    background-color: #242424;
}

.button a .txtbutton:hover {
    color: var(--Spark-White);
    background-color: transparent;
}*/

.project-box-item:hover {
    box-shadow: 0 -1px 30px 1px rgba(194, 198, 204, .4);
}


/*
.project2 
{
    position: relative;
    width: 990px;
    height: 390px;
    margin: 0px auto 140px;
    /* left: 0; */


/* top: 1160px; 
    align-items: center;
}*/

.illustration2 {
    position: relative;
    /* left: 80px; */
    /* bottom: 80px; */
    width: 300px;
}

.press3 {
    /* flex-direction: column; */
    /* padding: 0px; */
    position: relative;
    max-width: 80%;
    height: fit-content;
    left: 270px;
    /* top: 100px; */
}

#butn2 {
    position: relative;
    /* width: 184px; */
    /* height: 49px; */
    /* left: 150px; */
    top: 30px;
}

#p5 {
    position: absolute;
    top: 0px;
}

#butn3 {
    position: relative;
    /* height: 49px; */
    top: 40px;
    right: 60px;
}

.illustration3 {
    position: relative;
    /* left: 140px; */
    right: 0px;
    /* top: 56px; */
    width: 33%;
}

.illustration4 {
    position: relative;
    /* left: 726px; */
    right: 0px;
    top: 28px;
    width: 300px;
}

#p3 {
    position: relative;
    /* top: 1670px; */
    margin: 0px auto 130px;
}

#butn4 {
    position: relative;
    /* width: 184px; */
    /* height: 49px; */
    right: 0px;
    top: 40px;
}

footer {
    background-color: #242424;
    width: 100%;
    height: 6vh;
    position: relative;
    bottom: 0px;
    text-align: center;
    /* margin-top: 0px; */
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footertext {
    /* padding: 7px; */
    color: var(--Spark-White);
    /* padding: 1px; */
    margin: 0px 10px;
}

.section-projects {
    display: flex;
    flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: 0;
    width: 987px;
    flex-flow: row wrap;
}

.pro-item {
    list-style: none;
    margin-bottom: 48px;
    margin-right: 48px;
}

.project-box-item {
    display: flex;
    flex-direction: column;
    padding: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 0.5px solid #d3d3d3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 444px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.project5 {
    position: relative;
    width: 990px;
    height: 390px;
    margin: 10px auto 200px;
    display: flex;
    align-items: center;
}


/*.project5 {
    position: relative;
    width: 990px;
    height: 355px;
    margin: 260px auto auto auto;
    display: flex;
    align-items: center;
}*/

#buttn5 {
    position: relative;
    top: 30px;
    right: 1px;
}

.press5 {
    position: relative;
    width: 451px;
    max-height: 28%;
}

.illustration5 {
    position: relative;
    left: 190px;
    /* right: 726px; */
    top: 0px;
    width: 300px;
}

#butn6 {
    position: relative;
    top: 30px;
}

.press6 {
    position: relative;
    width: 32%;
    max-height: 30%;
    left: 310px;
}

#heart {
    position: relative;
    top: 0px;
    left: 0px;
    width: 4%;
}

#under {
    position: relative;
}

@media only screen and (max-width: 376px),
screen and (max-width: 880px),
screen and (max-width: 505px),
screen and (max-width: 414px) {
    header {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        /*padding: 8px 1% 8px 3%;*/
        background-color: #242424;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
    }
    
    .h4 {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.01em;
        text-align: center;
    }
    .leftnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin: 0px 0px 0px 130px; */
    }
    .navbar {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 8px 2% 8px 3.5%;
        background-color: #242424;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
    }
    #logoname {
        color: var(--Spark-White);
        padding: 0px 0px 0px 4px;
    }
    .nav_links {
        list-style: none;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        color: #FFFEF7;
        /* margin: 0px 150px 0px 0px; */
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links li {
        display: inline-flex;
        padding: 0px 22px;
        text-decoration: none;
        align-items: baseline;
    }
    .nav_links li a h3 {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        background-color: transparent;
    }
    .nav_links li a h3:hover {
        color: gba(255, 254, 247, 0.7);
        text-decoration: none;
        background-color: transparent;
    }
    /*.navbar {
        z-index: 10;
        display: flex;
        width: 96%;
        align-items: center;
        flex-direction: row;
        margin: auto 0px;
        justify-content: space-around;
    }*/
    main {
        position: relative;
        height: fit-content;
        margin: 0px 0px 0px 24px;
        /*padding-top: 140px;*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 150px 0px 0px 0px;
        width: 89%;
    }
    .presentation {
        position: relative;
        width: 100%;
        height: 100%;
        /* left: 148px; */
        bottom: 40px;
        display: flex;
        padding: 0px;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px 0px 24px 0px
    }
    .title_p {
        display: grid;
        grid-template-columns: (1, 1fr);
        gap: 16px;
    }
    .steph {
        position: relative;
        width: 260px;
        height: 200px;
        bottom: 30px;
        flex: none;
        order: 0;
        align-self: center;
        /* margin: 0px 66px; */
        left: -11px;
    }
    article {
        position: relative;
        width: 100%;
        /* bottom: 20px; */
        /* height: 100%; */
        flex: none;
        order: 1;
        align-self: center;
        /* flex-grow: 0; */
        /* margin: 0; */
        /* flex-grow: 0; */
    }
    .section-projects {
        display: flex;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 0;
        width: 100%;
        flex-flow: column wrap;
    }
    .pro-item {
        list-style: none;
        margin-bottom: 0 auto;
        margin-right: auto;
    }
    .project-box-item {
        display: flex;
        flex-direction: column;
        padding: 32px;
        background-color: white;
        border-radius: 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: fit-content;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease-in-out;
    }
    .body1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: var(--Carbon);
        text-align: center;
    }
    /*h2 [mobile]*/
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--Carbon);
        text-decoration: none;
        text-align: center;
    }
    .social-links {
        list-style-type: none;
        position: relative;
        right: 0px;
        display: flex;
        color: var(--Carbon);
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        flex: none;
        order: 3;
        height: 100%;
        justify-content: center;
        padding-top: 5%;
    }
 
    #caption1,
    caption {
        position: relative;
        width: 197px;
        height: 100%;
        /* top: 70px; */
        left: 0px;
        order: 2;
        padding-bottom: 0;
    }
    h1 {
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        height: 44px;
        text-align: center;
    }
    .project5 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 24px 0px 40px 0px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px;
    }
    .press2 {
        /* flex-direction: column; */
        /* padding: 0px; */
        /* position: relative; */
        /* width: 345px; */
        /* height: 170px; */
        left: 0px;
        bottom: 0px;
        /* right: -130px; */
        max-width: 100%;
        margin: 40px 0px 0px 0px;
    }
    .illustration3 {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 70%;
        flex: none;
        order: 0;
        align-self: center;
    }
    .button {
        cursor: pointer;
        background: #FFFEF7;
        border: 2px solid #242424;
        border-radius: 40px;
        position: relative;
        transition: all 0.3s ease 0s;
        flex: none;
        margin: 40px 0px 0px 0px;
        order: 2;
        align-self: center;
    }
    #butn3 {
        position: relative;
        /* height: 49px; */
        top: 0px;
        right: 0px;
    }
    .project {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 112px 0px 112px 0px;
        /* left: 0; */
        /* top: 0; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px;
    }
    .press {
        position: relative;
        /* left: 0px; */
        /* right: 0px; */
        bottom: 0;
        max-width: 100%;
        align-self: center;
        flex-direction: column;
        display: flex;
        margin: 8px 0px 0px 0px;
    }
    .illustration1 {
        position: relative;
        left: 0px;
        right: 0;
        width: 80%;
        flex: none;
        align-self: center;
        margin: 0px 0px;
        bottom: 16px;
    }
    .description-title {
        display: grid;
        grid-template-columns: (1, 1fr);
        gap: 8px;
    }
    #buttn5 {
        position: relative;
        top: 0px;
        left: 0;
        align-self: center;
    }
    .project2 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0px 0px 112px 0px;
        /* left: 0; */
        /* top: 1160px; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .illustration2 {
        position: relative;
        /* left: 80px; */
        /* bottom: 80px; */
        width: 62%;
        align-self: center;
    }
    .press3 {
        flex-direction: column;
        align-items: flex-start;
        /* padding: 0px; */
        position: relative;
        max-width: 100%;
        height: fit-content;
        left: 0;
        /* top: 100px; */
        /* bottom: -10px; */
        margin: 24px 0px;
        display: flex;
        /* flex-direction: column; */
    }
    #butn2 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        /* left: 150px; */
        top: 0px;
    }
    #p3 {
        position: relative;
        /* top: 1670px; */
        margin: 0px 0px 112px 0px;
    }
    .press5 {
        position: relative;
        width: 100%;
        margin: 24px 0px;
        display: flex;
        flex-direction: column;
    }
    .illustration5 {
        position: relative;
        left: 0;
        /* right: 726px; */
        top: 0px;
        width: 62%;
        align-self: center;
    }
    #butn6 {
        position: relative;
        top: 0px;
    }
    #p4 {
        position: relative;
        /* top: 130px; */
        /* margin-bottom: 160px; */
        /* margin-top: 90px; */
        margin: 0px 0px 112px 0px;
    }
    .illustration4 {
        position: relative;
        /* left: 726px; */
        /* right: 0px; */
        /* top: 28px; */
        width: 64%;
        align-self: center;
    }
    .press6 {
        position: relative;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        margin: 24px 0px;
    }
    #butn4 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        right: 0;
        top: 0;
    }
    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 26px;
    }
}

@media only screen and (min-width: 1440px) {
    .navbar {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        /*padding: 8px 13% 8px 10.5%;
        background-color: #242424;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
    }
}