* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    align-content: center;
}

:root {
    /*Colors*/
    --Sparkle-Yellow: #FFC800;
    --Carbon: #242424;
    --Spark-White: #e5e7da;
    --hover-spark-white: gba(255, 254, 247, 0.7);
    --White: #FFFEFA;

    /*Fonts*/
    --Desktop_H1: font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: left;
}

body {
    background-color: #FAFBFC;
    margin: auto 0px;
}




/* H1 */

h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: left;
}


/* Subtitle 1 */

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--Carbon);
    text-decoration: none;
}


/* Subtitle 2 */

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    /* or 22px */
    letter-spacing: 0.01em;
    color: var(--Carbon);
}

h4 {
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.2px;
}


/* Body 1 */

.body1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}


/* Body 2 */

.body2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.0025em;
    color: var(--Carbon);
}


/* Caption */

h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    /* identical to box height */
    color: var(--Carbon);
    letter-spacing: 0.004em;
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: var(--Carbon);
    letter-spacing: 0.004em;
}

.spacing_4px {
    padding: 4px;
}

.spacing_8px {
    padding: 8px;
}

.spacing_16px {
    padding: 16px;
}

.spacing_32px {
    padding: 32px 0px;
}

.spacing_40px {
    padding: 40px;
}



header {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;

    padding: 0px;
    background-color: #242424;
    /* height: 44px; */
    align-items: center;
    top: 0;
    /* margin: 0 auto; */
    flex-direction: row;
}

.leftnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 12px 0px;
}

#logoname {
    color: var(--Carbon);
    padding: 0px 0px 0px 4px;
}

li,
a {
    text-decoration: none;
    background-color: transparent;
    list-style: none;
}

.logo {
    cursor: pointer;
    /* display: flex; */
    background-color: transparent;
    margin: 0p;
    /* position: relative; */
    /* left: -50px; */
    width: 28px;
    padding: 4px;
    margin: 0p;
}

.nav_links {
    list-style: none;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.nav_links li {
    display: inline-flex;
    padding-left: 24px;
    text-decoration: none;
    align-items: baseline;
    border-bottom: none;
}

.nav_links li a h3 {
    opacity: 1;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: transparent;
}

.nav_links li a h3:hover {
    opacity: 1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-fill-color: var(--Carbon);
}

.presentation {
    position: relative;
    width: 990px;
    height: fit-content;
    /* left: 148px; */
    /* top: 134px; */
    display: flex;
    margin: 100px auto 90px;
    /* padding: 0px; */
    flex-direction: row;
}

.selected {
    text-decoration: none;
    -webkit-text-fill-color: var(--Carbon);
    align-items: baseline;
    border-bottom: 4px solid var(--Carbon);
    padding: 0px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.unselected {
    text-decoration: none;
    -webkit-text-fill-color: #9f9f9f;
    align-items: baseline;
    border-bottom: none;
    padding: 0%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about_lists {
    position: relative;
    display: flex;
    /* padding: 0px; */
    flex-direction: column;
    column-gap: 10%;
}

/*h1 {
    position: relative;
    height: 34px;
    max-width: 240px;
    left: 0px;
    right: 0px;
    top: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}*/

.press {
    position: relative;
    /* left: 0px; */
    /* right: 0px; */
    bottom: 50px;
    max-width: 90%;
    height: 190px;
}

article {
    position: relative;
    width: 47%;
    /* bottom: 20px; */
    height: 100%;
    align-self: center;
    /* height: fit-content; */
}



.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 86px;
}

.icons {
    padding: 32px;
    width: 32px;
    height: 32px;
    /* width: fit-content; */
}

.social-links {
    list-style-type: none;
    position: relative;
    top: 0;
    right: 16px;
    display: flex;
    color: var(--Carbon);
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
}

.social-links li {
    padding: 8px 16px;
}

.social-links li a .icons {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 2px;
}

.social-links li a .icons:hover {
    opacity: 0.5;
    text-decoration: none;
}

#behance {
    width: 36px;
}

.steph {
    position: relative;
    /* width: 34%; */
    height: 100%;
    left: 150px;
    /* bottom: 260px; */
    align-self: center;
}

#caption1,
caption {
    position: relative;
    /* width: 197px; */
    /* height: 15px; */
    /* left: 0px; */
    /* top: 110px; */
    padding-bottom: 8px;
}

.social {
    position: relative;
    width: 230px;
    height: 58px;
    left: 0px;
    top: 0px;
}

.project {
    position: relative;
    width: 990px;
    height: 390px;
    margin: 0px auto 90px;
    /* left: 0; */
    /* top: 0; */
    display: flex;
    align-items: center;
}

.illustration1 {
    position: relative;
    right: 0;
    width: 100%;
    flex: none;
    align-self: center;
    margin: 0px 0px;
    bottom: 32px;
    left: 0px;
}

.description-title {
    display: grid;
    gap: 0px;
}

.press2 {
    /* flex-direction: column; */
    /* padding: 0px; */
    position: relative;
    width: 345px;
    /* height: 170px; */
    left: 280px;
    bottom: 50px;
    /* right: -130px; */
    max-height: 20%;
}

.button {
    cursor: pointer;
    background: #FFFEF7;
    border: 2px solid #242424;
    border-radius: 40px;
    /* position: absolute; */
    /* width: 184px; */
    /* height: 49px; */
    /* left: 800px; */
    /* top: 270px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow .2s ease-in-out;

}


/*
.button:hover {
    background-color: #242424;
}

.button a .txtbutton:hover {
    color: var(--Spark-White);
    background-color: transparent;
}*/

.project-box-item:hover {
    box-shadow: 4px 20px 16px 1px rgba(200, 200, 200, 0.7);
    transform: scale(1.01);
}


/*
.project2 
{
    position: relative;
    width: 990px;
    height: 390px;
    margin: 0px auto 140px;
    /* left: 0; */


/* top: 1160px; 
    align-items: center;
}*/

.illustration2 {
    position: relative;
    left: 13%;
    width: 70%;
}

.press3 {
    /* flex-direction: column; */
    /* padding: 0px; */
    position: relative;
    max-width: 80%;
    height: fit-content;
    left: 270px;
    /* top: 100px; */
}

#butn2 {
    position: relative;
    /* width: 184px; */
    /* height: 49px; */
    /* left: 150px; */
    top: 30px;
}

#p5 {
    position: absolute;
    top: 0px;
}

#butn3 {
    position: relative;
    /* height: 49px; */
    top: 40px;
    right: 60px;
}

.illustration3 {
    position: relative;
    /* left: 140px; */
    right: 0px;
    /* top: 56px; */
    width: 33%;
}

.illustration4 {
    position: relative;
    /* left: 726px; */
    right: 0px;
    top: 28px;
    width: 300px;
}

#p3 {
    position: relative;
    /* top: 1670px; */
    margin: 0px auto 130px;
}

#butn4 {
    position: relative;
    /* width: 184px; */
    /* height: 49px; */
    right: 0px;
    top: 40px;
}

footer {
    background-color: #242424;
    width: 100%;
    height: 6vh;
    position: relative;
    bottom: 0px;
    text-align: center;
    /* margin-top: 0px; */
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footertext {
    /* padding: 7px; */
    color: var(--Spark-White);
    /* padding: 1px; */
    margin: 0px 10px;
}

.section-projects {
    display: flex;
    flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-left: 0;
    width: 987px;
    flex-flow: row wrap;
}


.pro-item {
    list-style: none;
    margin-bottom: 48px;
    margin-right: 48px;
}

.project-box-item {
    display: flex;
    flex-direction: column;
    padding: 56px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 444px;
    transition: transform, box-shadow, .35s cubic-bezier(0.56, -0.03, 0.48, 1.8);

}

.project5 {
    position: relative;
    width: 990px;
    height: 390px;
    margin: 10px auto 200px;
    display: flex;
    align-items: center;
}


/*.project5 {
    position: relative;
    width: 990px;
    height: 355px;
    margin: 260px auto auto auto;
    display: flex;
    align-items: center;
}*/

#buttn5 {
    position: relative;
    top: 30px;
    right: 1px;
}

.press5 {
    position: relative;
    width: 451px;
    max-height: 28%;
}

.illustration5 {
    position: relative;
    left: 190px;
    /* right: 726px; */
    top: 0px;
    width: 300px;
}

#butn6 {
    position: relative;
    top: 30px;
}

.press6 {
    position: relative;
    width: 32%;
    max-height: 30%;
    left: 310px;
}

#heart {
    position: relative;
    top: 0px;
    left: 0px;
    width: 4%;
}

#under {
    position: relative;
}

.about_item {
    width: 987px;
    position: relative;
    height: fit-content;
    margin: 5% auto 90px;
}


/* ---------------------------------------------------------- CARDS---------------------------------------------------------- */


.desktop-layout-container {
    display: flex;
    width: 1152px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 5%;
}

.row-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16%;
}

.card {
    border-radius: 20px;
    background: #1512b6;
    display: flex;
    width: 757px;
    height: 600px;
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    transition: transform, box-shadow, .25s cubic-bezier(0.56, -0.03, 0.48, 1.2);
    -webkit-text-fill-color: var(--Carbon);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
}

.title-L {
    text-align: center;
    display: flex;
    width: 10%px;
    flex-direction: column;
    flex-shrink: 0;
}

.text-s {
    text-align: center;
}

.card:hover {
    box-shadow: 4px 20px 16px 1px rgba(200, 200, 200, 0.7);
    transform: scale(1.02);
}


.background-green {
    background: #F1F3F6;
}

.spacing_16px {
    padding: 16px;
}

.spacing_24px {
    padding: 24px;
}

.spacing_32px {
    padding: 32px 0px 0px 0px;
}

/*SMALL (Mobile)---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1080px) {


    /*Text--------------------------------------*/

    .title-L {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .title-center {
        text-align: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-shrink: 0;
        margin: auto;
    }

    .text-xs {
        font-size: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.1px;
    }

    /*images*/
    .illustration2 {
        position: relative;
        left: 13%;
        width: 70%;
    }

    /*Layout--------------------------------------*/

    .column-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16%;
    }

    .title-container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 80px 0%;
    }



    .title-container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 0%;
    }

    .desktop-layout-container {
        display: flex;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
        gap: 16px;
        flex-direction: column;
        margin-top: 10%;
    }


    .badge-small {
        display: flex;
        padding: 5px 7px;
        justify-content: center;
        align-items: center;
        width: 30%;
        border-radius: 16px;
        border: 1px solid #0075B2;
        background: #E5F6FF;
        -webkit-text-fill-color: #414a4f;
    }

    .card {
        border-radius: 20px;
        background: #D4E7FA;
        display: flex;
        width: auto;
        height: 600px;
        padding: 32px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;

    }


    .card-l {
        border-radius: 20px;
        display: flex;
        width: auto;
        height: auto;
        padding: 44px 24px 40px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 48px;
        flex-shrink: 0;
        overflow: hidden;
    }

    .card-m {
        border-radius: 20px;
        background: #4543C4;
        display: flex;
        width: auto;
        height: 600px;
        padding: 44px 24px 0px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        flex-shrink: 0;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }

    header {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        /*padding: 8px 1% 8px 3%;*/
        background-color: #242424;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
    }

    .h4 {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 0.01em;
        text-align: center;
    }

    .leftnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin: 0px 0px 0px 130px; */
    }

    .navbar {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 3% 3% 0px 3%;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
        background: rgba(250, 251, 252, 0.80);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #EAEFF6;
    }

    #logoname {
        color: var(--Carbon);
        padding: 0px 0px 0px 4px;
    }

    .nav_links {
        list-style: none;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        color: #FFFEF7;
        /* margin: 0px 150px 0px 0px; */
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links li {
        display: inline-flex;
        padding: 12px;
        text-decoration: none;
        align-items: baseline;
    }

    .nav_links li a h3 {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        background-color: transparent;
    }

    .nav_links li a h3:hover {
        color: gba(255, 254, 247, 0.7);
        text-decoration: none;
        background-color: transparent;
    }



    main {
        position: relative;
        height: fit-content;
        margin: 0 auto;
        /*padding-top: 140px;*/
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 24% 4%;
    }

    .presentation {
        position: relative;
        width: 100%;
        height: 100%;
        /* left: 148px; */
        bottom: 40px;
        display: flex;
        padding: 0px;
        align-items: flex-start;
        flex-direction: column;
        margin: 30% 0px 24px 0px
    }

    .title_p {
        display: grid;
        grid-template-columns: (1, 1fr);
        gap: 16px;
    }

    .steph {
        position: relative;
        width: 260px;
        height: 200px;
        bottom: 30px;
        flex: none;
        order: 0;
        align-self: center;
        /* margin: 0px 66px; */
        left: -11px;
    }

    article {
        position: relative;
        width: 100%;
        /* bottom: 20px; */
        /* height: 100%; */
        flex: none;
        order: 1;
        align-self: center;
        /* flex-grow: 0; */
        /* margin: 0; */
        /* flex-grow: 0; */
    }

    .section-projects {
        display: flex;
        flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 0;
        width: 100%;
        flex-flow: column wrap;
    }

    .about_item {
        width: 93%;
        position: relative;
        height: fit-content;
        margin: 30px 0px 90px;
        text-align: left;
    }

    .about_lists {
        position: relative;
        display: flex;
        align-content: space-between;
        margin: 10px auto 90px;
        /* padding: 0px; */
        flex-direction: column;
        column-gap: 10%;
    }

    .pro-item {
        list-style: none;
        margin-bottom: 0 auto;
        margin-right: auto;
    }

    .project-box-item {
        display: flex;
        flex-direction: column;
        padding: 32px;
        background-color: white;
        border-radius: 8px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: fit-content;
    }

    .body1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: var(--Carbon);
    }

    /*h2 [mobile]*/
    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--Carbon);
        text-decoration: none;
        text-align: center;
    }

    .social-links {
        list-style-type: none;
        position: relative;
        right: 0px;
        display: flex;
        color: var(--Carbon);
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        flex: none;
        order: 3;
        height: 100%;
        justify-content: center;
        padding-top: 5%;
    }

    #caption1,
    caption {
        position: relative;
        width: 197px;
        height: 100%;
        /* top: 70px; */
        left: 0px;
        order: 2;
        padding-bottom: 0;
    }

    h1 {
        position: relative;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
    }

    .press2 {
        /* flex-direction: column; */
        /* padding: 0px; */
        /* position: relative; */
        /* width: 345px; */
        /* height: 170px; */
        left: 0px;
        bottom: 0px;
        /* right: -130px; */
        max-width: 100%;
        margin: 40px 0px 0px 0px;
    }

    .illustration3 {
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 70%;
        flex: none;
        order: 0;
        align-self: center;
    }


    .project {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 112px 0px 112px 0px;
        /* left: 0; */
        /* top: 0; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px;
    }

    .press {
        position: relative;
        /* left: 0px; */
        /* right: 0px; */
        bottom: 0;
        max-width: 100%;
        align-self: center;
        flex-direction: column;
        display: flex;
        margin: 8px 0px 0px 0px;
    }

    .illustration1 {
        position: relative;
        width: 142%;
        flex: none;
        align-self: center;
        margin: 0px 0px;
        bottom: 20%;
    }

    .description-title {
        display: grid;
        grid-template-columns: (1, 1fr);
        gap: 8px;
    }

    #buttn5 {
        position: relative;
        top: 0px;
        left: 0;
        align-self: center;
    }

    .project2 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0px 0px 112px 0px;
        /* left: 0; */
        /* top: 1160px; */
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .illustration2 {
        position: relative;
        width: 80%;
        flex: none;
        align-self: center;
        margin: 0px 0px;
        bottom: 1%;
    }

    .press3 {
        flex-direction: column;
        align-items: flex-start;
        /* padding: 0px; */
        position: relative;
        max-width: 100%;
        height: fit-content;
        left: 0;
        /* top: 100px; */
        /* bottom: -10px; */
        margin: 24px 0px;
        display: flex;
        /* flex-direction: column; */
    }

    #butn2 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        /* left: 150px; */
        top: 0px;
    }

    #p3 {
        position: relative;
        /* top: 1670px; */
        margin: 0px 0px 112px 0px;
    }

    .press5 {
        position: relative;
        width: 100%;
        margin: 24px 0px;
        display: flex;
        flex-direction: column;
    }

    .illustration5 {
        position: relative;
        left: 0;
        /* right: 726px; */
        top: 0px;
        width: 62%;
        align-self: center;
    }

    #butn6 {
        position: relative;
        top: 0px;
    }

    #p4 {
        position: relative;
        /* top: 130px; */
        /* margin-bottom: 160px; */
        /* margin-top: 90px; */
        margin: 0px 0px 112px 0px;
    }

    .illustration4 {
        position: relative;
        /* left: 726px; */
        /* right: 0px; */
        /* top: 28px; */
        width: 64%;
        align-self: center;
    }

    .press6 {
        position: relative;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        margin: 24px 0px;
    }

    #butn4 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        right: 0;
        top: 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 26px;
    }

    .spacing_16px {
        padding: 16px;
    }

    .spacing_24px {
        padding: 24px;
    }

    .spacing_32px {
        padding: 32px 0px 0px 0px;
    }

    .background-green {
        background: #247a24;
    }

}

/* LARGE ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1080px) and (max-width:1440px) {

    /*Text--------------------------------------*/

    .title-L {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .title-center {
        text-align: center;
        display: flex;
        width: 60%;
        flex-direction: column;
        flex-shrink: 0;
        margin: auto;
    }

    .text-xs {
        font-size: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.1px;
    }

    /*images*/
    .illustration2 {
        position: relative;
        left: 13%;
        width: 70%;
    }

    /*Layout--------------------------------------*/

    main {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }

    .title-container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 80px 0%;
    }

    .desktop-layout-container {
        display: flex;
        width: 1152px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 32px;
        flex-wrap: wrap;
    }



    .badge {
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        width: 10%;
        border-radius: 16px;
        border: 1px solid #0075B2;
        background: #E5F6FF;
        -webkit-text-fill-color: #0075B2;
    }


    .card-l {
        border-radius: 20px;
        background: #D4E7FA;
        display: flex;
        width: 757px;
        height: 600px;
        padding: 32px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;

    }

    .card-m {
        border-radius: 20px;
        background: #4543C4;
        display: flex;
        width: 363px;
        height: 600px;
        padding: 44px 24px 0px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        flex-shrink: 0;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }

    .text-s {
        text-align: center;
    }

    .background-green {
        background: #F1F3F6;
    }

    .spacing_4px {
        padding: 4px;
    }

    .spacing_8px {
        padding: 8px;
    }

    .spacing_16px {
        padding: 16px;
    }

    .spacing_24px {
        padding: 24px;
    }

    .spacing_32px {
        padding: 32px 0px 0px 0px;
    }

    .spacing_40px {
        padding: 40px;
    }

    .about_lists {
        position: relative;
        display: flex;
        /* padding: 0px; */
        flex-direction: column;
        column-gap: 10%;
    }

    .navbar {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1% 9% 0px 9%;
        /* height: 44px; */
        align-items: center;
        margin-top: 0%;
        /* margin: 0 auto; */
        flex-direction: row;
        /* From https://css.glass */
        background: rgba(250, 251, 252, 0.80);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #EAEFF6;

    }


    header {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;

        padding: 0px;
        background-color: #242424;
        /* height: 44px; */
        align-items: center;
        top: 0;
        /* margin: 0 auto; */
        flex-direction: row;
    }

    .about_item {
        width: 987px;
        position: relative;
        height: fit-content;
        margin: 32px auto 90px;
    }

    .leftnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin: 0px 0px 0px 130px; */
    }

    #logoname {
        color: var(--Carbon);
        padding: 0px 0px 0px 4px;
    }

    li,
    a {
        text-decoration: none;
        background-color: transparent;
        list-style: none;
    }

    .logo {
        cursor: pointer;
        /* display: flex; */
        background-color: transparent;
        margin: 0p;
        /* position: relative; */
        /* left: -50px; */
        width: 28px;
        padding: 4px;
        margin: 0p;
    }

    .nav_links {
        list-style: none;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links li {
        display: inline-flex;
        padding-left: 24px;
        text-decoration: none;
        align-items: baseline;
        border-bottom: none;
    }

    .nav_links li a h3 {
        opacity: 1;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        background-color: transparent;
    }

    .nav_links li a h3:hover {
        opacity: 1;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-fill-color: var(--Carbon);
    }

    .presentation {
        position: relative;
        width: 990px;
        height: fit-content;
        /* left: 148px; */
        /* top: 134px; */
        display: flex;
        margin: 56px auto 80px;
        /* padding: 0px; */
        flex-direction: row;
    }

    .selected {
        text-decoration: none;
        -webkit-text-fill-color: var(--Carbon);
        align-items: baseline;
        border-bottom: 4px solid var(--Carbon);
        padding: 0px;
    }

    .unselected {
        text-decoration: none;
        -webkit-text-fill-color: #9f9f9f;
        align-items: baseline;
        border-bottom: none;
        padding: 0%;
    }

    /*h1 {
        position: relative;
        height: 34px;
        max-width: 240px;
        left: 0px;
        right: 0px;
        top: 0;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
    }*/

    .press {
        position: relative;
        /* left: 0px; */
        /* right: 0px; */
        bottom: 50px;
        max-width: 90%;
        height: 190px;
    }

    article {
        position: relative;
        width: 47%;
        /* bottom: 20px; */
        height: 100%;
        align-self: center;
        /* height: fit-content; */
    }



    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 86px;
    }

    .icons {
        padding: 32px;
        width: 32px;
        height: 32px;
        /* width: fit-content; */
    }

    .social-links {
        list-style-type: none;
        position: relative;
        top: 0;
        right: 16px;
        display: flex;
        color: var(--Carbon);
        width: 100%;
        flex-direction: row;
        padding-top: 20px;
    }

    .social-links li {
        padding: 8px 16px;
    }

    .social-links li a .icons {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        padding: 2px;
    }

    .social-links li a .icons:hover {
        opacity: 0.5;
        text-decoration: none;
    }

    #behance {
        width: 36px;
    }

    .steph {
        position: relative;
        /* width: 34%; */
        height: 100%;
        left: 150px;
        /* bottom: 260px; */
        align-self: center;
    }

    #caption1,
    caption {
        position: relative;
        /* width: 197px; */
        /* height: 15px; */
        /* left: 0px; */
        /* top: 110px; */
        padding-bottom: 8px;
    }

    .social {
        position: relative;
        width: 230px;
        height: 58px;
        left: 0px;
        top: 0px;
    }

    .project {
        position: relative;
        width: 990px;
        height: 390px;
        margin: 0px auto 90px;
        /* left: 0; */
        /* top: 0; */
        display: flex;
        align-items: center;
    }

    .illustration1 {
        position: relative;
        right: 0;
        width: 100%;
        flex: none;
        align-self: center;
        margin: 0px 0px;
        bottom: 32px;
        left: 0px;
    }

    .description-title {
        display: grid;
        gap: 0px;
    }

    .press2 {
        /* flex-direction: column; */
        /* padding: 0px; */
        position: relative;
        width: 345px;
        /* height: 170px; */
        left: 280px;
        bottom: 50px;
        /* right: -130px; */
        max-height: 20%;
    }

    .button {
        cursor: pointer;
        background: #FFFEF7;
        border: 2px solid #242424;
        border-radius: 40px;
        /* position: absolute; */
        /* width: 184px; */
        /* height: 49px; */
        /* left: 800px; */
        /* top: 270px; */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: box-shadow .2s ease-in-out;

    }


    /*
    .button:hover {
        background-color: #242424;
    }
    
    .button a .txtbutton:hover {
        color: var(--Spark-White);
        background-color: transparent;
    }*/

    .project-box-item:hover {
        box-shadow: 4px 20px 16px 1px rgba(200, 200, 200, 0.7);
        transform: scale(1.02);
    }


    /*
    .project2 
    {
        position: relative;
        width: 990px;
        height: 390px;
        margin: 0px auto 140px;
        /* left: 0; */


    /* top: 1160px; 
        align-items: center;
    }*/


    .press3 {
        /* flex-direction: column; */
        /* padding: 0px; */
        position: relative;
        max-width: 80%;
        height: fit-content;
        left: 270px;
        /* top: 100px; */
    }

    #butn2 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        /* left: 150px; */
        top: 30px;
    }

    #p5 {
        position: absolute;
        top: 0px;
    }

    #butn3 {
        position: relative;
        /* height: 49px; */
        top: 40px;
        right: 60px;
    }

    .illustration3 {
        position: relative;
        /* left: 140px; */
        right: 0px;
        /* top: 56px; */
        width: 33%;
    }

    .illustration4 {
        position: relative;
        /* left: 726px; */
        right: 0px;
        top: 28px;
        width: 300px;
    }

    #p3 {
        position: relative;
        /* top: 1670px; */
        margin: 0px auto 130px;
    }

    #butn4 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        right: 0px;
        top: 40px;
    }

    footer {
        background-color: #242424;
        width: 100%;
        height: 6vh;
        position: relative;
        bottom: 0px;
        text-align: center;
        /* margin-top: 0px; */
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footertext {
        /* padding: 7px; */
        color: var(--Spark-White);
        /* padding: 1px; */
        margin: 0px 10px;
    }

    .section-projects {
        display: flex;
        flex-direction: row;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 0;
        width: 987px;
        flex-flow: row wrap;
    }


    .pro-item {
        list-style: none;
        margin-bottom: 48px;
        margin-right: 48px;
    }

    .project-box-item {
        display: flex;
        flex-direction: column;
        padding: 56px;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 444px;
        transition: transform, box-shadow, .35s cubic-bezier(0.56, -0.03, 0.48, 1.8);
        transform: scale(1);

    }

    .project5 {
        position: relative;
        width: 990px;
        height: 390px;
        margin: 10px auto 200px;
        display: flex;
        align-items: center;
    }


    /*.project5 {
        position: relative;
        width: 990px;
        height: 355px;
        margin: 260px auto auto auto;
        display: flex;
        align-items: center;
    }*/

    #buttn5 {
        position: relative;
        top: 30px;
        right: 1px;
    }

    .press5 {
        position: relative;
        width: 451px;
        max-height: 28%;
    }

    .illustration5 {
        position: relative;
        left: 190px;
        /* right: 726px; */
        top: 0px;
        width: 300px;
    }

    #butn6 {
        position: relative;
        top: 30px;
    }

    .press6 {
        position: relative;
        width: 32%;
        max-height: 30%;
        left: 310px;
    }

    #heart {
        position: relative;
        top: 0px;
        left: 0px;
        width: 4%;
    }

    #under {
        position: relative;
    }
}

/* XL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 1441px) {

    main {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
    }

    .desktop-layout-container {
        display: flex;
        width: 1152px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 32px;
        flex-wrap: wrap;
    }

    .badge-space {
        display: inline-flex;
        padding: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .badge {
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid #0075B2;
        background: #E5F6FF;
        -webkit-text-fill-color: #0075B2;
    }

    .card {
        border-radius: 20px;
        background: #4543C4;
        display: flex;
        width: 360px;
        height: 600px;
        padding: 32px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;

    }

    .text-xs {
        font-size: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 0.1px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }

    .text-s {
        text-align: center;
    }

    .background-green {
        background: #247a24;
    }

    .spacing_4px {
        padding: 4px;
    }

    .spacing_8px {
        padding: 8px;
    }

    .spacing_16px {
        padding: 16px;
    }

    .spacing_24px {
        padding: 24px 0px 0px 0px;
    }

    .spacing_32px {
        padding: 32px 0px 0px 0px;
    }

    .spacing_40px {
        padding: 40px 0px 0px 0px;
    }

    .about_lists {
        position: relative;
        display: flex;
        /* padding: 0px; */
        flex-direction: column;
        column-gap: 10%;
    }

    .navbar {
        position: fixed;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1% 5% 0px 5%;
        background-color: rgb(245, 245, 245, 0.8);
        /* height: 44px; */
        align-items: center;
        margin-top: 0%;
        /* margin: 0 auto; */
        flex-direction: row;
        /* From https://css.glass */
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }


    .about_item {
        width: 987px;
        position: relative;
        height: fit-content;
        margin: 32px auto 90px;
    }

    .leftnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* margin: 0px 0px 0px 130px; */
    }

    #logoname {
        color: var(--Carbon);
        padding: 0px 0px 0px 4px;
    }

    li,
    a {
        text-decoration: none;
        background-color: transparent;
        list-style: none;
    }

    .logo {
        cursor: pointer;
        /* display: flex; */
        background-color: transparent;
        margin: 0p;
        /* position: relative; */
        /* left: -50px; */
        width: 28px;
        padding: 4px;
        margin: 0p;
    }

    .nav_links {
        list-style: none;
        background-color: transparent;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links li {
        display: inline-flex;
        padding-left: 24px;
        text-decoration: none;
        align-items: baseline;
        border-bottom: none;
    }

    .nav_links li a h3 {
        opacity: 1;
        transition: all 0.3s ease 0s;
        text-decoration: none;
        background-color: transparent;
    }

    .nav_links li a h3:hover {
        opacity: 1;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-fill-color: var(--Carbon);
    }

    .presentation {
        position: relative;
        width: 990px;
        height: fit-content;
        /* left: 148px; */
        /* top: 134px; */
        display: flex;
        margin: 56px auto 80px;
        /* padding: 0px; */
        flex-direction: row;
    }

    .selected {
        text-decoration: none;
        -webkit-text-fill-color: var(--Carbon);
        align-items: baseline;
        border-bottom: 4px solid var(--Carbon);
        padding: 0px;
    }

    .unselected {
        text-decoration: none;
        -webkit-text-fill-color: #9f9f9f;
        align-items: baseline;
        border-bottom: none;
        padding: 0%;
    }

    /*h1 {
            position: relative;
            height: 34px;
            max-width: 240px;
            left: 0px;
            right: 0px;
            top: 0;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
        }*/

    .press {
        position: relative;
        /* left: 0px; */
        /* right: 0px; */
        bottom: 50px;
        max-width: 90%;
        height: 190px;
    }

    article {
        position: relative;
        width: 47%;
        /* bottom: 20px; */
        height: 100%;
        align-self: center;
        /* height: fit-content; */
    }



    .contact {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 86px;
    }

    .icons {
        padding: 32px;
        width: 32px;
        height: 32px;
        /* width: fit-content; */
    }

    .social-links {
        list-style-type: none;
        position: relative;
        top: 0;
        right: 16px;
        display: flex;
        color: var(--Carbon);
        width: 100%;
        flex-direction: row;
        padding-top: 20px;
    }

    .social-links li {
        padding: 8px 16px;
    }

    .social-links li a .icons {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        padding: 2px;
    }

    .social-links li a .icons:hover {
        opacity: 0.5;
        text-decoration: none;
    }

    #behance {
        width: 36px;
    }

    .steph {
        position: relative;
        /* width: 34%; */
        height: 100%;
        left: 150px;
        /* bottom: 260px; */
        align-self: center;
    }

    #caption1,
    caption {
        position: relative;
        /* width: 197px; */
        /* height: 15px; */
        /* left: 0px; */
        /* top: 110px; */
        padding-bottom: 8px;
    }

    .social {
        position: relative;
        width: 230px;
        height: 58px;
        left: 0px;
        top: 0px;
    }

    .project {
        position: relative;
        width: 990px;
        height: 390px;
        margin: 0px auto 90px;
        /* left: 0; */
        /* top: 0; */
        display: flex;
        align-items: center;
    }

    .illustration1 {
        position: relative;
        right: 0;
        width: 100%;
        flex: none;
        align-self: center;
        margin: 0px 0px;
        bottom: 32px;
        left: 0px;
    }

    .description-title {
        display: grid;
        gap: 0px;
    }

    .press2 {
        /* flex-direction: column; */
        /* padding: 0px; */
        position: relative;
        width: 345px;
        /* height: 170px; */
        left: 280px;
        bottom: 50px;
        /* right: -130px; */
        max-height: 20%;
    }

    .button {
        cursor: pointer;
        background: #FFFEF7;
        border: 2px solid #242424;
        border-radius: 40px;
        /* position: absolute; */
        /* width: 184px; */
        /* height: 49px; */
        /* left: 800px; */
        /* top: 270px; */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        transition: box-shadow .2s ease-in-out;

    }


    /*
        .button:hover {
            background-color: #242424;
        }
        
        .button a .txtbutton:hover {
            color: var(--Spark-White);
            background-color: transparent;
        }*/

    .project-box-item:hover {
        box-shadow: 4px 20px 16px 1px rgba(200, 200, 200, 0.7);
        transform: scale(1.02);
    }


    /*
        .project2 
        {
            position: relative;
            width: 990px;
            height: 390px;
            margin: 0px auto 140px;
            /* left: 0; */


    /* top: 1160px; 
            align-items: center;
        }*/



    .press3 {
        /* flex-direction: column; */
        /* padding: 0px; */
        position: relative;
        max-width: 80%;
        height: fit-content;
        left: 270px;
        /* top: 100px; */
    }

    #butn2 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        /* left: 150px; */
        top: 30px;
    }

    #p5 {
        position: absolute;
        top: 0px;
    }

    #butn3 {
        position: relative;
        /* height: 49px; */
        top: 40px;
        right: 60px;
    }

    .illustration3 {
        position: relative;
        /* left: 140px; */
        right: 0px;
        /* top: 56px; */
        width: 33%;
    }

    .illustration4 {
        position: relative;
        /* left: 726px; */
        right: 0px;
        top: 28px;
        width: 300px;
    }

    #p3 {
        position: relative;
        /* top: 1670px; */
        margin: 0px auto 130px;
    }

    #butn4 {
        position: relative;
        /* width: 184px; */
        /* height: 49px; */
        right: 0px;
        top: 40px;
    }

    footer {
        background-color: #242424;
        width: 100%;
        height: 6vh;
        position: relative;
        bottom: 0px;
        text-align: center;
        /* margin-top: 0px; */
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footertext {
        /* padding: 7px; */
        color: var(--Spark-White);
        /* padding: 1px; */
        margin: 0px 10px;
    }

    .section-projects {
        display: flex;
        flex-direction: row;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: 0;
        width: 987px;
        flex-flow: row wrap;
    }


    .pro-item {
        list-style: none;
        margin-bottom: 48px;
        margin-right: 48px;
    }

    .project-box-item {
        display: flex;
        flex-direction: column;
        padding: 56px;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 444px;
        transition: transform, box-shadow, .35s cubic-bezier(0.56, -0.03, 0.48, 1.8);
        transform: scale(1);

    }

    .project5 {
        position: relative;
        width: 990px;
        height: 390px;
        margin: 10px auto 200px;
        display: flex;
        align-items: center;
    }


    /*.project5 {
            position: relative;
            width: 990px;
            height: 355px;
            margin: 260px auto auto auto;
            display: flex;
            align-items: center;
        }*/

    #buttn5 {
        position: relative;
        top: 30px;
        right: 1px;
    }

    .press5 {
        position: relative;
        width: 451px;
        max-height: 28%;
    }

    .illustration5 {
        position: relative;
        left: 190px;
        /* right: 726px; */
        top: 0px;
        width: 300px;
    }

    #butn6 {
        position: relative;
        top: 30px;
    }

    .press6 {
        position: relative;
        width: 32%;
        max-height: 30%;
        left: 310px;
    }

    #heart {
        position: relative;
        top: 0px;
        left: 0px;
        width: 4%;
    }

    #under {
        position: relative;
    }
}